* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 10rem;

}

.form-box {
    border: 7px solid #cacaca;
    width: 450px;
    height: 600px;
    padding: 4rem 2rem 3rem 2rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 30px;
}

.img img {
    width: 150px;
    height: 150px;
}

.input-text {
    width: 100%;
    height: 3rem;
    border: 3px solid #e0e0e0;
    margin: 1.2rem 0;
    padding: 1rem;
    font-size: 23px;
}

.error {
    color: red;
    text-align: center;
    visibility: hidden;
}

.login {
    width: 100%;
    height: 4rem;
    border: 3px solid #e0e0e0;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 30px;
    padding: 0.5rem;
    cursor: pointer;
}
.login:hover {
 background-color: #bcbcbc;
}
.login:focus {
    background-color: #9f9d9d;
}